{% extends "template.html" %}
{% block main %}

<!-- Flask & Jinjia Common Techniques -->
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Your IP Address</h1>
  <p class="font-weight-light">A simple Python app showing your IP and location</p>
</div>

<!-- Body -->
<div class="container">
  {% for j in output %}
  <div class="row mt-5">
    <!-- Client IP -->
    <div class="col-3 font-weight-bold">
      <p>Host Name</p>
      <p>Your IP</p>
      <p>Access Datetime</p>
    </div>
    <div class="col-9">
      <p>{{ j['host_name'] |safe }}</p>
      <p>{{ j['your_ip'] |safe }}</p>
      <p>{{ j['datetime'] |safe }}</p>
    </div>
  </div>

  <div class="row">
    <!-- Decode IP information -->
    {% if j['status'] == '200' %}
    <div class="col-3 font-weight-bold">
      <p>Country</p>
      <p>City</p>
      <p>Post Code</p>
      <p>Latitude</p>
      <p>Longitude</p>
    </div>
    <div class="col-9">
      <p>{{ j['your_country'] |safe }}</p>
      <p>{{ j['your_city'] |safe }}</p>
      <p>{{ j['your_post_code'] |safe }}</p>
      <p>{{ j['your_latitude'] |safe }}</p>
      <p>{{ j['your_longitude'] |safe }}</p>
    </div>
    {% else %}
    <div class="col-3 font-weight-bold">
      <p>Message</p>
    </div>
    <div class="col-9">
      <p>{{ j['error_msg'] |safe }}</p>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>

{% endblock %}